body {
    font-size: 14px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fafafa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 59px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 59px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 59px -10px rgba(0,0,0,0.65);
}

body.container {
    padding: 0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* CUSTOM STYLES */

header {
    border-bottom: 1px solid #ccc;
    padding: 0 30px 10px 30px;
    margin-bottom: 25px;
}

.items {
    padding: 25px 20px;
    
}

.items .item {
    border: 1px solid #ccc;
    padding: 10px;
    border-bottom: 0;
}

.items .item .item-title {
    margin-bottom: 20px
}

.items .item .item-image {
    text-align: center;
}

.items .item:last-child {
    border-bottom: 1px solid #ccc;
}

.items-count {
    padding-top: 20px;
}


.load-more {
    display: none;
    margin: 20px;
}

.item-price {
    font-weight: bold;
}

.amazon-link {
    background: url('img/amazon-link.png') 0 0 no-repeat;
    width: 120px;
    height: 31px;
    display: block;
}

/* CUSTOM STYLES */
